@model GaleriaDavinci.Web.ViewModels.Gallery.ArtPieceViewModel

<div class="row">
    <div class="col-12 col-md-6">
        <img class="img-fluid w-100" src="@Model.ArtPiece.Url" />
    </div>
    <div class="col-12 col-md-6">
        <h1>@Model.ArtPiece.Name</h1>
        <h2>Por: @Model.ArtPiece.Author</h2>
        <p>@Model.ArtPiece.Description</p>
    </div>
</div>

<h4>Comentarios</h4>
@if (User.Identity.IsAuthenticated) { 
    @using (Html.BeginForm()) {
        @Html.HiddenFor(model => model.ArtPiece)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </div>
    }
}


@foreach (var review in Model.ArtPiece.Reviews) {
<div class="card col-md-6 my-3 p-3">
    <div>
        @for (int i = 0; i < 5; i++) {
            while (i < review.Value) {
                <span class="fas fa-star" style="color: #ffd800;"></span>
                i++;
            }
            <span class="far fa-star" style="color: #808080"></span>
        }
    </div>
    <h5>@review.AuthorName</h5>
    <p>@review.Comment</p>
</div>
}